In [ ]:
#type data : numerik, integer(bulat), float (desimal), string (nama, huruf), boolian(true/false)
#yang salah
uang_di_dompet = input("Berapakah jumlah uang di dompet anda?")
uang_di_bank = input("Berpakah jumlah uang anda di bank?")
print("Total uang anda adalah Rp " + uang_di_dompet + uang_di_bank)
#hasilnya salah karena tidak ada type datanya
#tanda (+) disini adalah untuk menyambungkan kata

Berapakah jumlah uang di dompet anda?30000
Berpakah jumlah uang anda di bank?20000
Total uang anda adalah Rp 3000020000

In [ ]:
#yang benar
uang_di_dompet = input("Berapakah jumlah uang di dompet anda?")
uang_di_bank = input("Berpakah jumlah uang anda di bank?")
total_uang = int(uang_di_dompet) + int(uang_di_bank)
print("Total uang anda adalah Rp " + str(total_uang))
#setelah type data diberi tanda()

Berapakah jumlah uang di dompet anda?20000
Berpakah jumlah uang anda di bank?100000
Total uang anda adalah Rp 120000

In [ ]:
#Akan error apabila petik satu dengan yang lain berbeda
print ("i love you")

i love you

In [ ]:
#tanda (\n) untuk enter ke bawah
print ("i love you \n but i cant have you")

i love you
 but i cant have you

In [ ]:
#apabila sudah di awal memasukkan data dengan hasil awal, dan jika nanti ingin memasukkan data dengan hasil baru, maka di restart terlebih dahulu
#tanda (*) untuk perkalian data
mahasiswa = 22
jumlah_kelas = 35
print(mahasiswa)
print(jumlah_kelas)
print(mahasiswa*jumlah_kelas)

22
35
770

In [ ]:
nama = input("input nama anda:")
print("salam sayang" + " " + nama)
#jangan lupa memberi tanda (" ") untuk spasi

input nama anda:aulia
salam sayang aulia

In [ ]:
#tanda (\) untuk menyambungkan kalimat
print("i love you \
      but i cant have you")

i love you       but i cant have you

In [ ]:
#Akan error apabila petik yang satu dengan yang lain berbeda
#yang salah
print ("i love you')

SyntaxError: ignored

In [ ]:
#yang benar 
print ("i love you")

i love you

In [ ]:
nama = 'aulia'
pekerjaan = 'mahasiswa'
institusi = 'universitas udayana'
print (nama +' ' + 'adalah seseorang' + ' ' + pekerjaan + ' ' + 'di' + ' ' + institusi +'.')

aulia adalah seseorang mahasiswa di universitas udayana.