# 5.11 While loop
While Loop akan selalu dieksekusi salam nilainya True dan akan berhenti saat nilainya False

In [ ]:
#Latihan While loop 1

x = 0         #diketahui input awal x = 0
while x<5:    #diketahui batas x < 5
    y = x**2  
    print(y)  #output nilai y akan terus dieksekusi sampai variabel x bernilai True atau sampai batas x<5 
    x = x+1   
    print (x) #output nilai x akan terus dieksekusi sampai variabel x bernilai True atau sampai batas x<5
    
print ("selesai")    
#apabila while bernilai False, maka output yang keluar adalah yang tidak di dalam program while

#output yang keluar akan selang-seling antara x dan y

In [ ]:
#Latihan While Loop 2

a = 0            #diketahui input awal a = 0
while a < 11 :   #diketahui batas a < 11
    print("Angka " + str(a)+" masih dibawah 11")
    a += 2
    #didapatkan a bernilai 0, kemudian dieksekusi menjadi a = a + 2, sehingga bernilai True karena terbukti 2 < 11.
    #lalu akan terus dieksekusi sampai abernilai 10 dimana 10 batas akhir yang kurang dari 11
    
print ("selesai")
#apabila while bernilai False, maka output yang keluar adalah yang tidak di dalam program while

In [ ]:
#Latihan While Loop 3

a = 0            #diketahui input awal a = 0
while a <= 10:   #diketahui batas a <= 10
    print(a*'*')
    a += 2
    #didapatkan a diganti dengan '*'
    #didapatkan a bernilai 0, kemudian dieksekusi menjadi a = a + 2, sehingga bernilai True karena terbukti 2 <= 10
    #lalu akan terus dieksekusi sampai bernilai 10 dimana 10 benar terbukti <= 10

# 5.12 List di Python
List dapat digunakan saat kita akan mempresentasikan objek di dlam Python baik berupa string maupun berupa angka. List dapat dipanggil urutannya, bahkan isinya dapat berubah.

In [9]:
#Latihan List Python 1

nama = ['adina','aulia','atmaja','indry','martini','rika']
#urutan dimulai dari 0

print (nama[2])    #output yang keluar adalah urutan ke-2
print (nama[:])    #output yang keluar adalah dari awal sampai akhir
print (nama[0:-1]) #output yang keluar adalah dari 0 tetapi tanpa urutan yang terakhir
print (nama[0:])   #output yang keluar adalah dari awal sampai akhir
print (nama[5:])   #output yang keluar adalah dari urutan ke-5 sampai akhir

atmaja
['adina', 'aulia', 'atmaja', 'indry', 'martini', 'rika']
['adina', 'aulia', 'atmaja', 'indry', 'martini']
['adina', 'aulia', 'atmaja', 'indry', 'martini', 'rika']
['rika']

# 5.13 Metoda List
Karena list merupakan objek, maka keberadaannya dapat dimanipulasi dengan menambahkan atau menghilangkan isi nya.

In [2]:
#Latihan Metoda List 1

nama = ['adina','aulia','atmaja','indry','martini','rika']
#urutan dimulai dari 0

nama[1] = 'suta'  #pengubahan nama di urutan yang diminta

print(nama)

['adina', 'suta', 'atmaja', 'indry', 'martini', 'rika']

In [3]:
#Latihan Metoda List 2

nama = ['adina','aulia','atmaja','indry','martini','rika']
#urutan dimulai dari 0

nama.append('indry') #penambahan list ke belakang

print(nama)

['adina', 'aulia', 'atmaja', 'indry', 'martini', 'rika', 'indry']

In [4]:
#Latihan Metoda List 3

nama = ['adina','aulia','atmaja','indry','martini','rika']
#urutan dimulai dari 0

nama.insert(3,'ari') #penambahan list sesuai ke urutan yang diminta

print(nama)

['adina', 'aulia', 'atmaja', 'ari', 'indry', 'martini', 'rika']

In [5]:
#Latihan Metoda List 4

nama = ['adina','aulia','atmaja','indry','martini','rika']
#urutan dimulai dari 0

nama.remove('adina') #penghapusan pada list

print(nama)

['aulia', 'atmaja', 'indry', 'martini', 'rika']

In [6]:
#Latihan Metoda List 5

nama = ['adina','aulia','atmaja','indry','martini','rika']

print ('Adina' in nama)
#False karena terdapat nama tersebut di list tetapi penulisannya salah

False

In [7]:
#Latihan Metoda List 6

nama = ['adina','aulia','atmaja','indry','martini','rika']

print ('indry' in nama)
#True karena terdapat nama tersebut di list dan penulisannya benar

True

In [8]:
#Latihan Metoda List 7

nama = ['adina','aulia','atmaja','indry','martini','rika']

print(len(nama)) #berarti menghitung jumlah list yang ada

6

# 5.14 For Loop
For Loop dapat digunakan untuk memanggil semua isi list

In [10]:
#Latihan For Loop 1

negara = ['indonesia','switzerland','saudi arabia']
for nama in negara:
    print(nama)

#penggunaan for adalah memanggil semua list dengan mengurutkannya ke bawah

indonesia
switzerland
saudi arabia

In [11]:
#Persamaan for loop dengan while loop

i = 0
while i < len(negara):
    print(negara[i])
    i+=1
    
#dapat juga menggunakan while untuk memanggil semua list dengan mengurutkannya ke bawah

indonesia
switzerland
saudi arabia

# 5.15 Fungsi Range
Fungsi range berguna untuk membangkitkan bilangan berurutan atau berpola yang kita inginkan. Untuk menuliskannya, perlu dikombinasikan dengan for loop.

In [12]:
#latihan fungsi range 1

for i in [0,1,2,3,4,5]:
    y = i**3
    print (y)
    
#penggunaan for yaitu mengurutkan list dengan urutan kebawah
#sehingga output yang keluar dari y dengan y = i**3 dengan urutan kebawah

0
1
8
27
64
125

In [13]:
#latihan fungsi range 2

angka = range(10)
print (angka)

#berarti pengurutan yang dimulai dari 0 sampai 10

range(0, 10)

In [17]:
#latihan fungsi range 3

angka = range(10)
for isi in angka:
    print(isi)
    
#berarti output yang keluar adalah sesuai dengan penggunaan for yaitu membangkitkan bilangan berurutan dengan urutan kebawah

0
1
2
3
4
5
6
7
8
9

In [15]:
#latihan fungsi range 4

for isi in range (4,10):
    print (isi)
    
#berarti output yang keluar adalah membangkitkan bilangan berurutan dari urutan ke-4 sampai ke-10 dengan urutan kebawah

4
5
6
7
8
9

In [16]:
#latihan fungsi range 5

for isi in range (2,8,3):
    print(isi)
    
#berarti output yang keluar adalah membangkitkan bilangan berurutan ari urutan ke-2 sampai ke-8 tetapi loncat 3 bilangan dengan urutan kebawah

2
5